.btn { margin-right: 1px; }

.ReactTable { margin-bottom: 20px; border: 1px solid rgba(0,0,0,0.2); box-shadow: 0px 0px 10px #e6e6e6; }
.rt-thead { box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important; border-bottom: 1px solid #f2f2f2; }

.loader-actions { background: rgba( 255, 255, 255, .8 ) url('https://www.ipswitch.com/library/img/loading.gif') 50% 50% no-repeat; width: 100%; height: 100%; position: absolute; top: -150px; left: 0; z-index: 1001; }
/* 
.rt-expandable {
    display: none;
} */