/*
arquivo que irá registrar todos os estilos CSS
*/
.smart-style-0 {
    background: url(assets/img/background.jpg) #fff !important;
}

.login-form {
    width: 20%;
    margin: 0 auto;
}

.center-help {
    text-align: center;
    padding-top: 0.5em;
    display: block;
}