#disciplines-contact-level .btn-group>.btn{
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    color: #848484;
    padding: 5px 25px !important;
}

#disciplines-contact-level .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background-color: #1985ac !important;
    border-color: #187da0 !important; 
    color: #fff !important;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;
}

.group-select {
    margin-bottom: 0 !important;
}

.loader{
    background: rgba( 255, 255, 255, .8 ) 
        url('https://www.ipswitch.com/library/img/loading.gif')
	    50% 50%
	    no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    /* display: none; */
}

.FilteredMultiSelect select {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13.5px;
}

.label-carteira {
    font-size: 16px;
    color: #00445d;
}

.FilteredMultiSelect option[value~="PARTICULAR"] {
    /* background-color: #64bbff !important; */
    color: #0073a9;
}

.FilteredMultiSelect option[value~="ESTADUAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="MUNICIPAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="FEDERAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="ENSINO"] {
    /* background-color: #27cf00; */
    color: #198600;
}

.dropdown-column {
    padding-left: 1em;
}