.react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;
}

.group-select {
    margin-bottom: 0 !important;
}

.loader{
    background: rgba( 255, 255, 255, .8 ) 
        url('https://www.ipswitch.com/library/img/loading.gif')
	    50% 50%
	    no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    /* display: none; */
}

.FilteredMultiSelect select {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13.5px;
}

.label-carteira {
    font-size: 16px;
    color: #00445d;
}

.FilteredMultiSelect option[value~="PARTICULAR"] {
    /* background-color: #64bbff !important; */
    color: #0073a9;
}

.FilteredMultiSelect option[value~="ESTADUAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="MUNICIPAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="FEDERAL"] {
    /* background-color: #ffea87; */
    color: #bfa828;
}

.FilteredMultiSelect option[value~="ENSINO"] {
    /* background-color: #27cf00; */
    color: #198600;
}

.dropdown-column {
    padding-left: 1em;
}