<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-book" aria-hidden="true"></i> Widget comercial
    <small>Informação Opcional</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <div class="row">

    <div class="col-md-12">
      <div class="box-busca">

        <div class="col-md-12">
          <h3 class="titulo" data-toggle="collapse" data-target="#busca" aria-expanded="false" aria-controls="busca">Faça uma busca <span class="abrir-busca"><i class="fa fa-search" aria-hidden="true"></i></span></h3>
        </div>

        <div id="busca" class="collapse busca">

          <div class="col-md-12">
            <div class="divisoria"></div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-2">
            <div class="form-group">
              <label for="nm_estado" class="control-label">Filial</label>
              <select class="form-control" id="nm_estado"> 
                        <option value="estado">Selecione</option> 
                        <option value="opt1">Opt 1</option> 
                        <option value="opt2">Opt 2</option>
                        <option value="opt3">Opt 3</option>
                        <option value="opt4">Opt 4</option>
                      </select>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-2">
            <div class="form-group">
              <label for="nm_estado" class="control-label">Setor</label>
              <select class="form-control" id="nm_estado">
                        <option value="estado">Selecione</option>
                        <option value="opt1">Opt 1</option>
                        <option value="opt2">Opt 2</option>
                        <option value="opt3">Opt 3</option>
                        <option value="opt4">Opt 4</option>
                      </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="form-group">
              <label for="nm_estado" class="control-label">Escola</label>
              <input type="text" class="form-control" id="escola" />
            </div>
          </div>

          <div class="col-md-12">
            <div class="divisoria"></div>
          </div>

          <div class="row">

            <div class="col-md-12">

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">Campo</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">De</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">Até</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="divisoria"></div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">Campo</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">De</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="nm_estado" class="control-label">Até</label>
                  <select class="form-control" id="nm_estado">
                            <option value="estado">Selecione</option>
                            <option value="opt1">Opt 1</option>
                            <option value="opt2">Opt 2</option>
                            <option value="opt3">Opt 3</option>
                            <option value="opt4">Opt 4</option>
                          </select>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-2 add-campo">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>

            </div>

            <!--<div class="col-xs-12 col-sm-12 col-md-4 ultima-busca">
                      <h4>Exibindo resultados da última busca:</h4>
                      <p><b>- Filial:</b> 21</p>
                      <p><b>- Setor:</b> 01</p>
                      <p><b>- Campo:</b> Nome do campo</p>
                      <p><b>- Campo:</b> Nome do campo</p>
                    </div>-->

          </div>



        </div>

      </div>
    </div>

    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs hidden-xs-down" role="tablist">
          <li class="desk-dashboard active" role="presentation"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
          <li class="desk-escolas" role="presentation"><a href="#escolas" aria-controls="escolas" role="tab" data-toggle="tab">Escolas</a></li>
          <li class="desk-pessoas" role="presentation"><a href="#pessoas" aria-controls="pessoas" role="tab" data-toggle="tab">Pessoas</a></li>
        </ul>

        <div class="dropdown hidden-md-down hidden-lg-down">
          <button class="btn btn-info dropdown-toggle menu-mob" type="button" data-toggle="dropdown">
                    <span id="label_menu">Dashboard</span>
                    <span class="caret"></span>
                  </button>
          <ul class="dropdown-menu">
            <li><a href="#" class="mob-dashboard">Dashboard</a></li>
            <li><a href="#" class="mob-escolas">Escolas</a></li>
            <li><a href="#" class="mob-pessoas">Pessoas</a></li>
          </ul>
        </div>


        <!-- Tab panes -->
        <div class="tab-content conteudo-atual">

          <div role="tabpanel" class="tab-pane active" id="dashboard">

            <h2 class="seus-resultados"><i class="fa fa-th" aria-hidden="true"></i> Seus resultados <span class="editar-resultados" data-toggle="modal" data-target="#editaResultados"><i class="fa fa-pencil" aria-hidden="true"></i></span></h2>

            <div class="row">
              <div class="col-md-12">
                <div class="cards">

                  <div class="col-xs-12 col-sm-6 col-md-3 card duas-linhas">
                    <div class="row">
                      <div class="icone escolas"><i class="fa fa-flag" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="num gd">85</span></p>
                        <p><span class="texto peq">Escolas</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card duas-linhas">
                    <div class="row">
                      <div class="icone visitas"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="num gd">1.589</span></p>
                        <p><span class="texto peq">Visitas</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card duas-linhas">
                    <div class="row">
                      <div class="icone share"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="num gd">23%</span></p>
                        <p><span class="num peq">+ 1.7%</span> <span class="texto peq">Share</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone alunos"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">Cadastro</span></p>
                        <p><span class="num gd">23.580</span></p>
                        <p><span class="num peq">24.890</span> <span class="texto peq">Alunos</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card duas-linhas">
                    <div class="row">
                      <div class="icone puristas"><i class="fa fa-star" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="num gd">32</span></p>
                        <p><span class="texto peq">Puristas</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card duas-linhas">
                    <div class="row">
                      <div class="icone tipo"><i class="fa fa-building" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="num gd">42</span> <span class="texto peq">Particulares</span></p>
                        <p><span class="num peq">11</span> <span class="texto peq">Públicas</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone previsao"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">Previsão</span></p>
                        <p><span class="num peq">R$</span> <span class="num gd">180</span><span class="num peq">k</span></p>
                        <p><span class="num peq">+1.7%</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone devolucao"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">Devolução</span></p>
                        <p><span class="num gd">6,8%</span></p>
                        <p><span class="num peq">-2,3%</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone investimento"><i class="fa fa-area-chart" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">Investimento</span></p>
                        <p><span class="num peq">R$</span> <span class="num gd">19</span><span class="num peq">k</span></p>
                        <p><span class="num peq">+1.2%</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone se"><i class="fa fa-book" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">SE</span></p>
                        <p><span class="num gd">7</span></p>
                        <p><span class="num peq">+1.5%</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 card tres-linhas">
                    <div class="row">
                      <div class="icone contatos"><i class="fa fa-users" aria-hidden="true"></i></div>
                      <div class="info">
                        <p><span class="texto peq">Contatos</span></p>
                        <p><span class="num gd">68</span></p>
                        <p><span class="num peq">+20%</span></p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="escolas">

            <div class="row">

              <div class="segura-paineis">

                <div class="col-md-12 botoes-down">
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</button>
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-columns" aria-hidden="true"></i> Download CSV</button>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Albert Einstein Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Horácio Augusto da Silveira Prof Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Carlos campos Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Carlos campos Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Carlos campos Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Carlos campos Etec <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                          <div class="form-group">
                            <label for="nm_estado" class="control-label">Setor</label>
                            <select class="form-control" id="nm_estado"> 
                                      <option value="estado">Selecione</option> 
                                      <option value="opt1">Opt 1</option> 
                                      <option value="opt2">Opt 2</option> 
                                      <option value="opt3">Opt 3</option> 
                                    </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8">
                          <p class="share"><b>Share:</b> <span class="valor">45%</span></p>
                        </div>
                      </div>
                      <p><b>Visitas:</b> 45 | <b>Alunos:</b> 830 | <b>Tipo:</b> Pública</p>
                      <p><b>Previsão faturamento:</b> R$ 17.500,00</p>
                      <p><b>Investimento:</b> R$ 1.120,00</p>
                      <p><b>Devolução:</b> 233</p>
                      <p><b>Níveis:</b> EF1, EF2, EM</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</button>
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-columns" aria-hidden="true"></i> Download CSV</button>
                </div>

              </div>
            </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="pessoas">

            <div class="row">

              <div class="segura-paineis">

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Setor 01</div>
                    <div class="panel-body">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                            <input type="text" class="form-control" id="nu_nivel_cadastro" />
                          </div>
                        </div>
                      </div>

                      <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Setor 02</div>
                    <div class="panel-body">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                            <input type="text" class="form-control" id="nu_nivel_cadastro" />
                          </div>
                        </div>
                      </div>

                      <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Setor 03</div>
                    <div class="panel-body">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                            <input type="text" class="form-control" id="nu_nivel_cadastro" />
                          </div>
                        </div>
                      </div>

                      <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                    </div>
                  </div>
                </div>

                <div class="clearfix">

                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">Setor 04</div>
                      <div class="panel-body">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                              <input type="text" class="form-control" id="nu_nivel_cadastro" />
                            </div>
                          </div>
                        </div>

                        <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">Setor 05</div>
                      <div class="panel-body">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                              <input type="text" class="form-control" id="nu_nivel_cadastro" />
                            </div>
                          </div>
                        </div>

                        <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">Setor 06</div>
                      <div class="panel-body">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="nu_nivel_cadastro" class="control-label">Adicionar usuário neste setor:</label>
                              <input type="text" class="form-control" id="nu_nivel_cadastro" />
                            </div>
                          </div>
                        </div>

                        <span class="pessoa">
                                    Rafael Augusto <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Tiago Rodrigues <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                        <span class="pessoa">
                                    Marcos Tavares <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

    <!-- MODAL EDITA RESULTADOS -->
    <div class="modal fade bd-example-modal-lg" id="editaResultados" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar <i class="fa fa-th" aria-hidden="true"></i> Seus resultados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
          </div>
          <div class="modal-body row">

            <div class="col-md-12">

              <p>Selecione as informações que deseja exibir nos seus resultados:</p>

              <div class="clearfix"></div>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Quantidade de escolas</button>
                      <input type="checkbox" class="hidden" />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Visitas</button>
                      <input type="checkbox" class="hidden" checked />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Share</button>
                      <input type="checkbox" class="hidden" />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Alunos</button>
                      <input type="checkbox" class="hidden" checked />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Puristas</button>
                      <input type="checkbox" class="hidden" />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Tipos de escolas</button>
                      <input type="checkbox" class="hidden" checked />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Previsão de faturamento</button>
                      <input type="checkbox" class="hidden" />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Devolução</button>
                      <input type="checkbox" class="hidden" checked />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Investimento</button>
                      <input type="checkbox" class="hidden" />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Sistema de ensino</button>
                      <input type="checkbox" class="hidden" checked />
                  </span>

              <span class="button-checkbox">
                      <button type="button" class="btn" data-color="primary">Contratos</button>
                      <input type="checkbox" class="hidden" />
                  </span>

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-primary"><i class="fa fa-check-circle" aria-hidden="true"></i> Salvar alterações</button>
            <button type="button" class="btn btn-danger btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</button>
          </div>
        </div>
      </div>
    </div>

</section>