{{#data}}
<tr role="row">
    <td class="sorting_1">{{name}}</td>
    <td class="">{{address}}</td>
    <td class="">{{city}}</td>
	<td>
		<a href="#" title="Alterar" aria-label="Alterar" data-id="{{id}}" class="btn-edit">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a href="" title="Excluir" aria-label="Excluir" data-confirm="Deseja realmente excluir este item?" data-id="{{id}}" class="btn-delete">
			<span class="glyphicon glyphicon-trash"></span>
		</a>
	</td>
</tr>
{{/data}}