<section class="content-header">
	<h1>
		<i class="fa fa-university"></i> Escolas
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Escolas</li>
	</ol>
</section>
<section class="content">
    {{#success}}<h1>Deu certo!</h1>{{/success}}
		<div class="col-xs-12 col-sm-12 col-md-12">
			<button type="button" class="btn btn-success inserir-cadastro" data-toggle="modal" data-target="#insereCadastro">Adicionar <i class="fa fa-plus-circle"></i></button>
		</div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                  <thead>
                  <tr role="row">
                      <th>
              			Coluna 01
                      </th>
                      <th>
                  		Coluna 02
                  	  </th>
                  	  <th>
                  	  	Coluna 03
                  	  </th>
                  	  <th>
                  	  	Ações
                  	  </th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table></div></div><div class="row">
                  <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        Showing <span class="from_page">1</span> to <span class="to_page">10</span> of <span class="total_page">57</span> entries
                    </div>
                  </div>
                  <ul id="pagination-demo" class="pagination-sm pagination-configure"></ul>
                  <div class="col-sm-7">
                  </div></div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
</section>

</section>

